/*CSS reset settings here*/
*{
    margin: 10px;
    padding: 20px;
    
    
   }
   #wrapper{
    display: inline-block;
    height: 750px;
    width: 1250px;
    background-color: silver;
    
   }
   #header{
    min-height: 150px;
    background-color: green;
   }
   #navigation{
    min-height: 300px;
    width: 200px;
    background-color: blue;
   }
   #main_content{
    padding: 20px;
    float: right;
    height: 600px;
    width: 850px;
    background-color: red;
   }
   .subcontents{
    display: inline-block;
    padding: 30px;
    min-height: 200px;
    width: 200px;
    background-color: yellow;
   }
   #advertisement{
    padding-top: 50px;
    padding-bottom: 50px;
    min-height: 120px;
    width: 660px;
    background-color: purple;
   }
   